@model WeatherApp.Models.WeatherModel


<div class="card">
    <div class="card-header">
        <h4>@Model.Location</h4>
    </div>
    <div class="card-body">
        <p>Temperature: @Model.Temperature</p>
        <p>Feels Like Temperature: @Model.FeelsLikeTemperature</p>
        <p>Minimum Temperature: @Model.MinimumTemperature</p>
        <p>Maximum Temperature: @Model.MaximumTemperature</p>
        <p>Pressure: @Model.Pressure</p>
        <p>Humidity: @Model.Humidity</p>
        <p>Wind Speed: @Model.WindSpeed</p>
        <p>Rain Volume: @Model.RainVolume</p>
    </div>
</div>